In [2]:
import pandas as pd

In [2]:
data = pd.read_csv("train.csv")

In [ ]:
for i in range(data.shape[0]):
    indv = data.iloc[i]
    indv.filename = 'Images/train/' + indv.filename
    data.iloc[i] = indv

/home/th3lourde/.local/lib/python3.6/site-packages/pandas/core/generic.py:5086: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [16]:
df = pd.read_csv('train_clean.csv')

In [17]:
df.head()

             filename  label
0  Images/train/0.png      4
1  Images/train/1.png      9
2  Images/train/2.png      1
3  Images/train/3.png      7
4  Images/train/4.png      3

In [12]:
# df.iloc[:, 0]
df = df.drop(df.columns[0], axis=1)

In [15]:
df.head()

             filename  label
0  Images/train/0.png      4
1  Images/train/1.png      9
2  Images/train/2.png      1
3  Images/train/3.png      7
4  Images/train/4.png      3

In [14]:
df.to_csv('train_clean.csv', index=False)